.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust opacity as needed */
    z-index: 1;
}

.hero {
    background-image: url("../images/hero.jpg");
}

#map {
    width: 100%;
    height: 400px;
    z-index: 1;
}

#applicant-form {
    position: relative;
    z-index: 2;
}

[x-cloak] {
    display: none !important;
}
